#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@keyframes glow {
  0% {
    color: red;
    text-shadow: 0 0 10px red;
  }
  25% {
    color: orange;
    text-shadow: 0 0 10px orange;
  }
  50% {
    color: yellow;
    text-shadow: 0 0 10px yellow;
  }
  75% {
    color: green;
    text-shadow: 0 0 10px green;
  }
  100% {
    color: blue;
    text-shadow: 0 0 10px blue;
  }
}

.h1-error {
  animation: glow 2s linear infinite alternate;
}